<div id="carouselExampleControls" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="assets/carousel1.jpg" alt="First slide">
      </div>
      
    </div>
    
  </div>

  <!-- about section -->
  <section id="about-section" style="margin-top: 40px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <h2>About Think Tank BMW</h2>
          <p>We are a team of experts passionate about creating innovative solutions for the automotive industry. Our goal is to revolutionize the way people drive and interact with their vehicles.</p>
        </div>
      </div>
    </div>
  </section>
  
<!-- Team section -->
<section id="team-section" style="margin-top: 50px;">
    <div class="col-md-12 text-center" >
      <h2 style="margin-bottom: 40px;">Meet Our Team</h2>
      <div class="row">
        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="team-member-avatar"></div>
              <mat-card-title>Maria Hanna</mat-card-title>
              <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Maria is a passionate software engineer with extensive experience in Angular and Node.js.
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>Contact</button>
            </mat-card-actions> -->
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="team-member-avatar"></div>
              <mat-card-title>Marek Hardt</mat-card-title>
              <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Marek is a creative software engineer with extensive experience in React and Node.js.
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>Contact</button>
            </mat-card-actions> -->
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="team-member-avatar"></div>
              <mat-card-title>Sonia Veronica Shoucair</mat-card-title>
              <mat-card-subtitle>Multimedia Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              Sonia is an intern and she is new to the team and ready for this journey.
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>Contact</button>
            </mat-card-actions> -->
          </mat-card>
        </div>
      </div>
    </div>
  </section>

  